/* Main variables */
:root {
	--background-color: #383838;
	--text-color: white;
	--placeholder-color: gray;
	--main-font-size: 20vw;
	--secondary-font-size: 15vw;
	--credits-font-size: 20px;
}

* {
	margin: 0;
	padding: 0;
	line-height: normal;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: var(--background-color);
	color: var(--text-color);
}

.app {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 0;
	margin-top: 5vh;
}

.input-row {
	display: flex;
	flex-direction: row;
}

.word > input {
	outline: none;
	border: none;
	height: 100%;
	font-size: var(--main-font-size);
	background-color: var(--background-color);
	color: var(--text-color);
}

.word > input::placeholder {
	color: var(--placeholder-color);
}

.determiner {
	margin-right: 2vw;
	font-size: var(--main-font-size);
	color: var(--placeholder-color);
}

.translation {
	margin-top: 1vw;
	font-size: var(--secondary-font-size);
	color: var(--placeholder-color);
}

/* Display placeholder text */
.determiner:empty:before, .translation:empty:before {
	content: attr(placeholder);
}

/* Footer (credits) */
.credits {
	position: absolute;
	bottom: 2rem;
	font-size: var(--credits-font-size);
	line-height: 1.5;
	text-align: center;
}

.credits > p {
	padding-bottom: 0;
}

.credits > a {
	text-decoration: none;
	color: lightblue;
}
